/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*body*/

body {
	background: cadetblue;
}

/*logo*/

.logo {
	display: grid;
	justify-content: center;
	padding-bottom: 5px;
	font-family: 'Crete Round', serif;
	font-size: 48px;
	word-spacing: 190px;
	color: #42f4d4;
}
.color {
	width: 100px;
  height: 100px;
}
.logoWords {
	display: grid;
	justify-content: center;
	word-spacing: 190px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-family: 'Crete Round', serif;
	color: #42f4d4;
}

/*text inputs*/

.textInputs {
	display: grid;
	justify-content: center;
}
.textArea {
	background-image: url("crudLogo2.jpg");
	margin: 0 0 20px;
	height: 293px; 
	width: 688px;
}
.textArea::placeholder {
	font-family: 'Crete Round', serif;
	font-size: 18px;
}
.name {
	background-image: url("crudLogo2.jpg");
}
.name::placeholder {
	font-family: 'Crete Round', serif;
}
.textFieldsAndAreas {
	padding: 0 40px 40px 40px;
	background: cadetblue;
}

/*buttons*/

.buttons {
	display: flex;
	justify-content: center;
	margin: 20px 0 20px 0;
}
.setData {
	margin: 10px;
	background-color: cadetblue;
  border: 2px solid cadetblue;
  border-radius: 12px;
  color: #42f4d4;
  padding: 15px 32px;
  font-family: 'Crete Round', serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.setData:hover {
	background: white;
}
.getData {
	margin: 10px;
	background-color: cadetblue;
  border: 2px solid cadetblue;
  border-radius: 12px;
  color: #42f4d4;
  padding: 15px 32px;
  font-family: 'Crete Round', serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.getData:hover {
	background: white;
}
.getDataByName {
	margin: 10px;
	background-color: cadetblue;
  border: 2px solid cadetblue;
  border-radius: 12px;
  color: #42f4d4;
  padding: 15px 32px;
  font-family: 'Crete Round', serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.getDataByName:hover {
	background: white;
}
.removeData {
	margin: 10px;
	background-color: cadetblue;
  border: 2px solid cadetblue;
  border-radius: 12px;
  color: #42f4d4;
  padding: 15px 32px;
  font-family: 'Crete Round', serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.removeData:hover {
	background: white;
}
.buttonsSection {
	background: lightcyan;
	padding: 80px 0 80px 0;
}

/*snippet display*/

ul {
	width: 900px;
	margin: 0 auto;
	display: grid;
	border: 1px solid darkgrey;
	background-image: url("crudLogo2.jpg");
	background-repeat: repeat;
  background-position: center; 
}
ul li {
	color: #42f4d4;
  list-style-type: disc;
  margin: 5px;
  margin-left: 2em;
 	font-size: 20px;
	padding: 5px;
}
ul li span {
	color: black;
}
.snippets {
	background: cadetblue;
}
